@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&display=swap');
@import "tailwindcss";

/* Dark mode variant configuration */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: 'Cousine', sans-serif;
    --font-mono: 'Syne Mono', monospace;

    /* Wine */
    --color-wine-100: #b98291;
    --color-wine-300: #995266;
    --color-wine:     #6D2E46;
    --color-wine-700: #541d33;
    --color-wine-900: #3b1323;

    /* Mint Green */
    --color-mint-green-100: #f0f7f5;
    --color-mint-green-300: #dcebe6;
    --color-mint-green:     #D1E3DD;
    --color-mint-green-700: #a5b8b3;
    --color-mint-green-900: #7f918d;

    /* Rich Black */
    --color-rich-black-100: #3e4a51;
    --color-rich-black-300: #233239;
    --color-rich-black:     #011C27;
    --color-rich-black-700: #000d12;
    --color-rich-black-900: #000406;

    /* Viridian */
    --color-viridian-100: #b3ccc5;
    --color-viridian-300: #7ca89c;
    --color-viridian:     #4C8577;
    --color-viridian-700: #326157;
    --color-viridian-900: #1d3e37;
}

/* Add smooth transitions for theme changes */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
